<!DOCTYPE html>
<html   lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section>
	<div class="container p-5">
	<div th:if="${showLoginSuccess}" id="loginSuccessAlert" class="alert alert-success text-center fade show" role="alert">Login successful.</div>
	<th:block th:if="${showLoginSuccess}">
	<script>
	document.addEventListener('DOMContentLoaded', function () {
		var el = document.getElementById('loginSuccessAlert');
		if (!el) return;
		setTimeout(function () {
			el.classList.remove('show');
			setTimeout(function () { el.remove(); }, 200);
		}, 2500);
	});
	</script>
	</th:block>
	<p class="text-center fs-3 mt-4">Admin Dashbord</p>
	<div class="row p-5" >
	<div class="col-md-4 mt-3">
	<a href="/admin/loadAddProduct" class="text-decoration-none"> 
		<div class="card card-sh">
			<div class="card-body text-center text-primary ">
				<i class="fa-solid fa-square-plus fa-3x"></i>
			<h4>Add Product</h4>
			</div>
		</div>
		</a>
	</div>
	
	<div class="col-md-4 mt-3">
	<a href="/admin/category" class="text-decoration-none"> 
		<div class="card card-sh">
			<div class="card-body text-center text-warning">
				<i class="fa-solid fa-list fa-3x"></i>
			<h4>Add Categary</h4>
			</div>
		</div>
		</a>
	</div>
	
	<div class="col-md-4 mt-3">
	<a href="/admin/products" class="text-decoration-none"> 
		<div class="card card-sh">
			<div class="card-body text-center text-success ">
				<i class="fa-solid fa-table-list fa-3x"></i>
			<h4>View Product</h4>
			</div>
		</div>
		</a>
	</div>
	
	<div class="col-md-4 mt-3">
	<a href="/admin/orders" class="text-decoration-none"> 
		<div class="card card-sh">
			<div class="card-body text-center text-warning ">
				<i class="fa-solid fa-box-open fa-3x"></i>
			<h4>Orders</h4>
			</div>
		</div>
		</a>
	</div>
	
	<div class="col-md-4 mt-3">
	<a href="/admin/users?type=1" class="text-decoration-none"> 
		<div class="card card-sh">
			<div class="card-body text-center text-primary ">
			<i class="fa-solid fa-circle-user fa-3x"></i>
			<h4>Users</h4>
			</div>
		</div>
		</a>
	</div>
	
	<div class="col-md-4  mt-3">
	<a href="/admin/add-admin" class="text-decoration-none"> 
		<div class="card card-sh">
			<div class="card-body text-center text-primary ">
				<i class="fa-solid fa-user-plus fa-3x" ></i>
			<h4>Add Admin</h4>
			</div>
		</div>
		</a>
	</div>
	
	<div class="col-md-4 mt-3">
	<a href="/admin/users?type=2" class="text-decoration-none"> 
		<div class="card card-sh">
			<div class="card-body text-center text-primary ">
			<i class="fa-solid fa-circle-user fa-3x"></i>
			<h4>Admin</h4>
			</div>
		</div>
		</a>
	</div>
	</div>
	</div>
	</section>
</body>
</html>